$primary_color: #9356DC;
$secondary_color: #FF79DA;
$third_color: #99E2D0;

$general_padding : 10px 4%;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Shrikhand&display=swap');
$text : 'Roboto', sans-serif;
$title: 'Shrikhand', cursive;
*
{
  margin: 0;
}
h1{
  font-family: $title;
}

h2, h3, p, span, button
{
  font-family: $text;
}

@media (max-width: 768px) {

header
{
  & .logo a
  {
    background-color: white;
    text-align: center;
    font-family: $title;
    font-size: 35px;
    width: 100%;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px;
  }

  & .location span
  {
    background-color: lightgray;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 30px;
  }

  & .nav
  {
      margin-bottom: 30px;
      text-align: center;
      background-color: #F2F2F2;
      padding: 10px;
      line-height: 2.5;
    & span
    {
      font-family: $text;
      font-weight: bold;
      font-size: 22px;
    }
    & .explore
    {
      color: white;
      font-weight: bold;
      border-radius: 20px;
      font-size: 15px;
      padding: 15px;
      border: none;
      background: linear-gradient($secondary_color, $primary_color);
    }
  }


}
  .fonctionnement
  {
    padding : $general_padding;

  .buttons
  {
    margin-top: 10px;
    & button
    {
      margin-bottom: 15px;
      width: 100%;
      border-radius: 10px;
      border: none;
      padding: 20px;
      font-weight: bold;
      box-shadow: 5px 10px 18px #888888;
      font-size: 18px;
      display: flex;

      & ul
      {
        list-style-type: none;
        margin: 0;
      }

      &:hover
      {
        background-color: #ddd3ee;

         & i
         {
           color: #9356DC;
         }

      }

    }

    & .tinyCircle
    {
      color: white;
      border-radius: 50%;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: #9356DC;
      width: 8px;
    }
  }
  }

  .restaurants
  {
    padding: $general_padding;

    & .card
    {
      margin-top: 10px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      border-radius: 20px 20px 20px 20px;
      width: 100%;
      padding: 10px;
      transition: transform .2s;
      cursor: pointer;
      background-color: white;

      &__img
      {
        width: 100%;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
        height: 137px;
      }

      &__container
      {
        padding:10px;


        & h3
        {
          display: flex;
          justify-content: space-between;

          & i
          {
            padding-top: 10px;
            font-size: 25px;

          }
        }
      }
    }
  }
}